# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Secrets & local config
.env
appsettings.Development.json
appsettings.*.json
!appsettings.json

# Node / frontend
node_modules/
dist/

# Misc
*.log
.DS_Store
.~lock.*
Beslutsunderlag_Case1.pdf
Inlamning 2.pdf
Inlamning1_Beslutsunderlag.pdf
Konsultcasen.pdf
